In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data(1).csv')
print(data.head())

            date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  5/2/2014 0:00   313000.0         3       1.50       1340.0    7912.0
1  5/2/2014 0:00  2384000.0         5       2.50       3650.0    9050.0
2  5/2/2014 0:00   342000.0         3       2.00       1930.0   11947.0
3  5/2/2014 0:00   420000.0         3       2.25       2000.0    8030.0
4  5/2/2014 0:00   550000.0         4        NaN          NaN       NaN

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5         0.0   0.0        3.0      1340.0            0.0    1955.0
1     2.0         0.0   4.0        5.0      3370.0          280.0    1921.0
2     1.0         0.0   0.0        4.0      1930.0            0.0    1966.0
3     1.0         0.0   0.0        4.0      1000.0         1000.0    1963.0
4     NaN         NaN   0.0        4.0      1140.0          800.0    1976.0

   yr_renovated                    street       city  statezip country
0        2005.0      18810 Densmore Ave N  Shoreline  WA 98133     USA
1           0.0           709 W Blaine St    Seattle  WA 98119     USA
2           0.0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3           0.0           857 170th Pl NE   Bellevue  WA 98008     USA
4        1992.0         9105 170th Ave NE    Redmond  WA 98052     USA

In [3]:
print('the rows in this is  {} rows.'.format(data.shape[0]))
print('the columns in this is  {} columns.'.format(data.shape[1]))

the rows in this is  4600 rows.
the columns in this is  18 columns.

In [4]:
print(np.sum(pd.isnull(data)))

date              0
price             0
bedrooms          0
bathrooms        47
sqft_living      47
sqft_lot         47
floors           47
waterfront       47
view             48
condition        48
sqft_above       48
sqft_basement    48
yr_built         48
yr_renovated     48
street           48
city              0
statezip          0
country           0
dtype: int64

C:\Users\YOGA\Downloads\SDI_R2408\tools\New folder\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [6]:
print(data['statezip'].unique())

['WA 98133' 'WA 98119' 'WA 98042' 'WA 98008' 'WA 98052' 'WA 98115'
 'WA 98038' 'WA 98045' 'WA 98155' 'WA 98105' 'WA 98074' 'WA 98106'
 'WA 98007' 'WA 98092' 'WA 98198' 'WA 98006' 'WA 98102' 'WA 98011'
 'WA 98125' 'WA 98003' 'WA 98136' 'WA 98033' 'WA 98029' 'WA 98117'
 'WA 98034' 'WA 98072' 'WA 98023' 'WA 98107' 'WA 98166' 'WA 98116'
 'WA 98024' 'WA 98055' 'WA 98077' 'WA 98027' 'WA 98059' 'WA 98075'
 'WA 98014' 'WA 98065' 'WA 98199' 'WA 98053' 'WA 98058' 'WA 98122'
 'WA 98103' 'WA 98112' 'WA 98005' 'WA 98118' 'WA 98177' 'WA 98004'
 'WA 98019' 'WA 98144' 'WA 98168' 'WA 98001' 'WA 98056' 'WA 98146'
 'WA 98028' 'WA 98148' 'WA 98057' 'WA 98040' 'WA 98010' 'WA 98051'
 'WA 98031' 'WA 98109' 'WA 98030' 'WA 98126' 'WA 98032' 'WA 98178'
 'WA 98288' 'WA 98108' 'WA 98070' 'WA 98188' 'WA 98002' 'WA 98039'
 'WA 98022' 'WA 98068' 'WA 98047' 'WA 98050' 'WA 98354']

In [7]:
num = data['statezip'].mode()[0]
data['statezip'] = data['statezip'].fillna(num)

In [10]:
data['bedrooms'] = data['bedrooms'].astype(np.int64)

In [11]:
data.drop('view', axis=1, inplace=True)

In [4]:
print(data.dtypes)

NameError: name 'data' is not defined

In [3]:
x = data.iloc[:, 0:-1]
y = data.iloc[:, -1]

print(x.shape)
print(y.shape)

NameError: name 'data' is not defined

In [2]:
cat_columns = x.select_dtypes(['object']).columns
x[cat_columns] = x[cat_columns].apply(lambda x: pd.factorize(x)[0])

NameError: name 'x' is not defined

In [19]:
data.to_csv('processed_data.csv', index=False)