In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("house pridiction.csv")

In [10]:
print("Top 5 rows:")
print(df.head())

Top 5 rows:
            date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  5/2/2014 0:00   313000.0         3       1.50       1340.0    7912.0
1  5/2/2014 0:00  2384000.0         5       2.50       3650.0    9050.0
2  5/2/2014 0:00   342000.0         3       2.00       1930.0   11947.0
3  5/2/2014 0:00   420000.0         3       2.25       2000.0    8030.0
4  5/2/2014 0:00   550000.0         4        NaN          NaN       NaN

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5         0.0   0.0        3.0      1340.0            0.0    1955.0
1     2.0         0.0   4.0        5.0      3370.0          280.0    1921.0
2     1.0         0.0   0.0        4.0      1930.0            0.0    1966.0
3     1.0         0.0   0.0        4.0      1000.0         1000.0    1963.0
4     NaN         NaN   0.0        4.0      1140.0          800.0    1976.0

   yr_renovated                    street       city  statezip country
0        2005.0      18810 Densmore Ave N  Shoreline  WA 98133     USA
1           0.0           709 W Blaine St    Seattle  WA 98119     USA
2           0.0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3           0.0           857 170th Pl NE   Bellevue  WA 98008     USA
4        1992.0         9105 170th Ave NE    Redmond  WA 98052     USA

In [11]:
print("\nBottom 5 rows:")
print(df.tail())

Bottom 5 rows:
                date        price  bedrooms  bathrooms  sqft_living  sqft_lot  \
4595   7/9/2014 0:00  308166.6667         3       1.75       1510.0    6360.0
4596   7/9/2014 0:00  534333.3333         3       2.50       1460.0    7573.0
4597   7/9/2014 0:00  416904.1667         3       2.50       3010.0    7014.0
4598  7/10/2014 0:00  203400.0000         4       2.00       2090.0    6630.0
4599  7/10/2014 0:00  220600.0000         3       2.50       1490.0    8102.0

      floors  waterfront  view  condition  sqft_above  sqft_basement  \
4595     1.0         0.0   0.0        4.0      1510.0            0.0
4596     2.0         0.0   0.0        3.0      1460.0            0.0
4597     2.0         0.0   0.0        3.0      3010.0            0.0
4598     1.0         0.0   0.0        3.0      1070.0         1020.0
4599     2.0         0.0   0.0        4.0      1490.0            0.0

      yr_built  yr_renovated             street       city  statezip country
4595    1954.0        1979.0     501 N 143rd St    Seattle  WA 98133     USA
4596    1983.0        2009.0   14855 SE 10th Pl   Bellevue  WA 98007     USA
4597    2009.0           0.0   759 Ilwaco Pl NE     Renton  WA 98059     USA
4598    1974.0           0.0  5148 S Creston St    Seattle  WA 98178     USA
4599    1990.0           0.0  18717 SE 258th St  Covington  WA 98042     USA

In [13]:
print("\nRows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 4600
Columns: 18

In [14]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
date              0
price             0
bedrooms          0
bathrooms        47
sqft_living      47
sqft_lot         47
floors           47
waterfront       47
view             48
condition        48
sqft_above       48
sqft_basement    48
yr_built         48
yr_renovated     48
street           48
city              0
statezip          0
country           0
dtype: int64

In [15]:
df = df.fillna(df.mean(numeric_only=True))

In [16]:
print("\nColumn Data Types:")
print(df.dtypes)

Column Data Types:
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
street            object
city              object
statezip          object
country           object
dtype: object

In [17]:
df.to_csv("house_prediction_cleaned.csv", index=False)
print("\nCleaned file saved successfully.")

Cleaned file saved successfully.