In [64]:
import pandas as pd

In [65]:
df = pd.read_csv("house pridiction.csv")

In [66]:
print("Top 5 rows:")
print(df.head())

Top 5 rows:
            date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  5/2/2014 0:00   313000.0         3       1.50       1340.0    7912.0
1  5/2/2014 0:00  2384000.0         5       2.50       3650.0    9050.0
2  5/2/2014 0:00   342000.0         3       2.00       1930.0   11947.0
3  5/2/2014 0:00   420000.0         3       2.25       2000.0    8030.0
4  5/2/2014 0:00   550000.0         4        NaN          NaN       NaN

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5         0.0   0.0        3.0      1340.0            0.0    1955.0
1     2.0         0.0   4.0        5.0      3370.0          280.0    1921.0
2     1.0         0.0   0.0        4.0      1930.0            0.0    1966.0
3     1.0         0.0   0.0        4.0      1000.0         1000.0    1963.0
4     NaN         NaN   0.0        4.0      1140.0          800.0    1976.0

   yr_renovated                    street       city  statezip country
0        2005.0      18810 Densmore Ave N  Shoreline  WA 98133     USA
1           0.0           709 W Blaine St    Seattle  WA 98119     USA
2           0.0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3           0.0           857 170th Pl NE   Bellevue  WA 98008     USA
4        1992.0         9105 170th Ave NE    Redmond  WA 98052     USA

In [67]:
print("\nBottom 5 rows:")
print(df.tail)

Bottom 5 rows:
<bound method NDFrame.tail of                 date         price  bedrooms  bathrooms  sqft_living  \
0      5/2/2014 0:00  3.130000e+05         3       1.50       1340.0
1      5/2/2014 0:00  2.384000e+06         5       2.50       3650.0
2      5/2/2014 0:00  3.420000e+05         3       2.00       1930.0
3      5/2/2014 0:00  4.200000e+05         3       2.25       2000.0
4      5/2/2014 0:00  5.500000e+05         4        NaN          NaN
...              ...           ...       ...        ...          ...
4595   7/9/2014 0:00  3.081667e+05         3       1.75       1510.0
4596   7/9/2014 0:00  5.343333e+05         3       2.50       1460.0
4597   7/9/2014 0:00  4.169042e+05         3       2.50       3010.0
4598  7/10/2014 0:00  2.034000e+05         4       2.00       2090.0
4599  7/10/2014 0:00  2.206000e+05         3       2.50       1490.0

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0       7912.0     1.5         0.0   0.0        3.0      1340.0
1       9050.0     2.0         0.0   4.0        5.0      3370.0
2      11947.0     1.0         0.0   0.0        4.0      1930.0
3       8030.0     1.0         0.0   0.0        4.0      1000.0
4          NaN     NaN         NaN   0.0        4.0      1140.0
...        ...     ...         ...   ...        ...         ...
4595    6360.0     1.0         0.0   0.0        4.0      1510.0
4596    7573.0     2.0         0.0   0.0        3.0      1460.0
4597    7014.0     2.0         0.0   0.0        3.0      3010.0
4598    6630.0     1.0         0.0   0.0        3.0      1070.0
4599    8102.0     2.0         0.0   0.0        4.0      1490.0

      sqft_basement  yr_built  yr_renovated                    street  \
0               0.0    1955.0        2005.0      18810 Densmore Ave N
1             280.0    1921.0           0.0           709 W Blaine St
2               0.0    1966.0           0.0  26206-26214 143rd Ave SE
3            1000.0    1963.0           0.0           857 170th Pl NE
4             800.0    1976.0        1992.0         9105 170th Ave NE
...             ...       ...           ...                       ...
4595            0.0    1954.0        1979.0            501 N 143rd St
4596            0.0    1983.0        2009.0          14855 SE 10th Pl
4597            0.0    2009.0           0.0          759 Ilwaco Pl NE
4598         1020.0    1974.0           0.0         5148 S Creston St
4599            0.0    1990.0           0.0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]>

In [68]:
print("\nRows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 4600
Columns: 18

In [69]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
date              0
price             0
bedrooms          0
bathrooms        47
sqft_living      47
sqft_lot         47
floors           47
waterfront       47
view             48
condition        48
sqft_above       48
sqft_basement    48
yr_built         48
yr_renovated     48
street           48
city              0
statezip          0
country           0
dtype: int64

In [70]:
df = df.fillna(df.mean(numeric_only=True))

In [71]:
print("\nColumn Data Types:")
print(df.dtypes)

Column Data Types:
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
street            object
city              object
statezip          object
country           object
dtype: object

In [72]:
df.to_csv("house_prediction_cleaned.csv", index=False)
print("\nCleaned file saved successfully.")

Cleaned file saved successfully.

In [73]:
df = df.drop('country', axis=1)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   float64
 5   sqft_lot       4600 non-null   float64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   float64
 8   view           4600 non-null   float64
 9   condition      4600 non-null   float64
 10  sqft_above     4600 non-null   float64
 11  sqft_basement  4600 non-null   float64
 12  yr_built       4600 non-null   float64
 13  yr_renovated   4600 non-null   float64
 14  street         4552 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
dtypes: float64(12), int64(1), object(4)
memory usage: 611.1+ KB

In [75]:
#Mode
df['city'].mode()[0]

'Seattle'

In [76]:
df['city'].fillna(df['city'].mode()[0])

0       Shoreline
1         Seattle
2            Kent
3        Bellevue
4         Redmond
          ...
4595      Seattle
4596     Bellevue
4597       Renton
4598      Seattle
4599    Covington
Name: city, Length: 4600, dtype: object

In [78]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].Mode()[0])
        
columns = ['city', 'street', 'statezip']
fillnaObjectMode(columns)

AttributeError: 'Series' object has no attribute 'Mode'

In [79]:
def fillnafloatmean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])
        
columns = ['bedroom', 'bathroom', 'floors', 'waterfront', 'view', 'yr_built', 'yr_renovated']
fillnaIntMode(columns)

NameError: name 'fillnaIntMode' is not defined

In [81]:
df['price'] = df['price'].astype('int64')

In [82]:
def changeFloatInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['price', 'condition', 'sqft_living', 'sqft_lot','sqft_above']
changeFloatInt(columns)